h2 New Task 
form(autocomplete='off', action='/weeks/:date/tasks/', method='POST')
  fieldset
    label(for='title') Title
    input(type='text', id='title', name='title')
  fieldset
    label(for='description') Description
    textarea(id='description', name='description', title='description')
  fieldset
    label(for='done') Done
    input(type='checkbox', id='done', name='done', value='yes')
  fieldset
    input(type='submit', value='Submit')

